<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% include head.html %}
  <link rel="stylesheet" href="{{ "css/navbar.css" | prepend: site.baseurl }}">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}">Pratt SAVI 800</a>
    </div>
  </nav>

  <div id="main" class="container">

    <div class="header">
      <h1>Pratt SAVI 800: Advanced Interactive Web Mapping</h1>
      <p class="lead">
        This is an index of all <a href="https://www.pratt.edu/pratt-research-and-centers/spatial-analysis-visualization-initiative/" target="_blank">Pratt SAVI</a> 800 term pages.
      </p>
      <hr>
    </div>

    <div class="grid-wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>
</body>
</html>
